In [1]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
df.shape

(6, 4)

In [3]:
rows,colume =df.shape

In [4]:
rows

6

In [5]:
colume

4

In [8]:
df.head(2) # for front row print

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [11]:
df.tail(1) # for last some rows print

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [16]:
df[2:3] # slicing

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow

In [18]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [26]:
df['event'] # what in event cell

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [29]:
type (df['event']) # for type of data in col

pandas.core.series.Series

In [31]:
df[['event','day']] # print few column

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [33]:
df['temperature'].max() # print max num

35

In [37]:
df['temperature'].min()

24

In [39]:
df['temperature'].std()

3.8297084310253524

In [40]:
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64